@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color-dark:#1d69a3;
    --accent-color:#2294ed;
    --padding-inline-section:20px;
}
body{
    font-family: 'poppins',sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 2rem;
}
h2
{
    font-size: 1.5rem;
}
h3
{
    font-size: 1.25rem;
    font-weight: 600;
}
h4{
    font-size: 1.25rem;
    font-weight: 500;
}
p{
    font-family: 'roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}
/* utility classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
    
}

.flex{
    display: flex;
    align-items: center;
}


.container{
    max-width:1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}


.primary-button{
    border: 0.5px solid var(--secondary-text-color);
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 6px;
    color: var(--secondary-text-color) !important;
    transition: 0.2s ease-in-out;;

}
.primary-button:hover{
    
   border-color: var(--accent-color);
   color:var(--accent-color) !important;
}
.secondary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    color: white !important;
    font-weight: 500;
    padding: 12px 24px;
}
.secondary-button:hover
{
    background-color: var(--accent-color-dark);
}

/* top banner */
.top-banner{
    background-image: url(assets/asset\ 32.png);
    background-color: #4fb3d4;
    background-size: 300px;
}

.banner-text{
    color: white;
    text-align: center;
    padding: 10px;
}

/* nav bar */

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img{
    width: 200px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}



.hower-links{
    color: var(--primary-text-color);
    transition: 0.2s ease-in-out;
}
.hower-links:hover{
 color: var(--accent-color-dark);
}

 /* header */

.header-section{
    margin-top:100px;
    justify-content: center;
    gap: 50px;
 }
.header-left{
    width:40vw;
}
 .header-right img{
width :600px;

}

.header-left h1{
    margin-top:20px;
}

.header-left p{
    margin-top:20px;
}
.header-section a{
    margin-top:30px
}

.quote{
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent-color-dark);
    text-align: center;
    margin-block:50px;
}

.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height:46px;
}

/* features section */

.features-section
{   
    text-align: center;
    margin-block:50px;
}

.features-section h1{
   
    font-weight:400;
    margin-bottom: 20px;

}

.features-araea{
    margin-block: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.features-card
{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
    
    
}
.features-card p{
    margin-block: 20px;
}

.features-card img{
    width: 40px;
}

/* big features */

.features-img img{
width:100%;
}
.features-discription{
   
    
    flex-direction: column;
    align-items: flex-start;
    
}

.big-features-section
{
    padding: 20px;
}
.example-heading{
    margin-block: 40px;
    text-align: center;
}
.example-heading h1{
    font-weight:400;
    margin-bottom: 20px;
}

.example-card{
    background: black;
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(assets/asset\ 35.jpeg);
    background-size: cover;
    width: 23%;
    position: relative;
    min-height: 300px;
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
}
.card-text{
    position:absolute;
    bottom: 20px;
    left:20px;
    right:20px;
    color: white;
}
.example-area{
    margin-block: 20px;
    justify-content: space-between;
}

.cta-section
{   
   padding: 120px 20px 80px;
   background-color: #183b56;
}

.cta-container{
    gap:30px;
    flex-direction: column;
    color: white;
    align-items: flex-start;
}
.cta-container-img img{
    width: 100%;
}



.subfooter{
    background-color: #b9cde4;
   padding: var(--padding-inline-section);
}
.sub-footer-container{
    justify-content: center;
    gap: 30px;

}
.footer-text{
    color:var(--secondary-text-color);
}
.footer-text:hover{
    color:var(--accent-color);
    transition: 0.2s ease-in-out;
}